.header{
    background: #0067A3;
	color: #FFFFFF;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.title{
    font-size: 28px;
}

.avatar{
	background-color: #FFFFFF;
	border-radius: 20px;
	size: 40px;
	margin-left: auto;
}

.menu{}